image: "ghcr.io/tigattack/hass-addon-smartctl-exporter-{arch}"
name: smartctl exporter
version: "1.0.0"
slug: smartctl_exporter
description: Prometheus smartctl_exporter - Exposes SMART disk info in Prometheus metrics format using smartctl
url: "https://github.com/tigattack/hass-addons/tree/main/smartctl_exporter"
arch:
  - aarch64
  - amd64
init: false
webui: http://[HOST]:[PORT:9633]
startup: services
# privileges sourced from
# https://github.com/alexbelgium/hassio-addons/blob/master/scrutiny/config.yaml
privileged:
  - SYS_ADMIN
  - SYS_RAWIO
  - DAC_READ_SEARCH
# full access required for smartctl to access all disks
full_access: true
udev: true
ports:
  9633/tcp: 9633
ports_description:
  9633/tcp: "Prometheus metrics endpoint"
options:
  smartctl_interval: "60s"
  smartctl_rescan: "10m"
  log_level: "info"
  smartctl_devices: []
  smartctl_device_exclude: ""
  smartctl_device_include: ""
schema:
  smartctl_interval: str
  smartctl_rescan: str
  log_level: list(debug|info|warn|error)
  smartctl_devices: [str]
  smartctl_device_exclude: str?
  smartctl_device_include: str?
