image: "ghcr.io/tigattack/hass-addon-smartctl-exporter-{arch}"
name: smartctl exporter
version: "0.1.0"
slug: smartctl_exporter
description: Prometheus exporter for SMART disk metrics using smartctl
url: "https://github.com/tigattack/hass-addons/tree/main/smartctl_exporter"
arch:
  - armhf
  - armv7
  - aarch64
  - amd64
  - i386
init: false
webui: http://[HOST]:[PORT:9633]
# privileges source from
# https://github.com/alexbelgium/hassio-addons/blob/master/scrutiny/config.yaml
privileged:
  - SYS_ADMIN
  - SYS_RAWIO
  - DAC_READ_SEARCH
# devices source from
# https://github.com/alexbelgium/hassio-addons/blob/master/scrutiny/config.yaml
devices:
  - /dev/sda
  - /dev/sdb
  - /dev/sdc
  - /dev/sdd
  - /dev/sde
  - /dev/sdf
  - /dev/sdg
  - /dev/nvme
  - /dev/nvme0
  - /dev/nvme0n1
  - /dev/nvme0n1p1
  - /dev/nvme0n1p2
  - /dev/nvme0n1p3
  - /dev/nvme1n1
  - /dev/nvme1n1p1
  - /dev/nvme1n1p2
  - /dev/nvme1n1p3
  - /dev/nvme2n1
  - /dev/nvme2n1p1
  - /dev/nvme2n1p2
  - /dev/nvme2n3p3
  - /dev/mmcblk
  - /dev/fuse
  - /dev/sda1
  - /dev/sdb1
  - /dev/sdc1
  - /dev/sdd1
  - /dev/sde1
  - /dev/sdf1
  - /dev/sdg1
  - /dev/sda2
  - /dev/sdb2
  - /dev/sdc2
  - /dev/sdd2
  - /dev/sde2
  - /dev/sdf2
  - /dev/sdg2
  - /dev/sda3
  - /dev/sdb3
  - /dev/sda4
  - /dev/sdb4
  - /dev/sda5
  - /dev/sda6
  - /dev/sda7
  - /dev/sda8
  - /dev/nvme0
  - /dev/nvme1
  - /dev/nvme2
  - /dev/nvme0
  - /dev/nvme1
  - /dev/nvme2
  - /dev/md0
  - /dev/md1
  - /dev/md2
  - /dev/md3
udev: true
ports:
  9633/tcp: 9633
ports_description:
  9633/tcp: "Prometheus metrics endpoint"
options:
  smartctl_interval: "60s"
  smartctl_rescan: "10m"
  log_level: "info"
  smartctl_devices: []
  smartctl_device_exclude: ""
  smartctl_device_include: ""
schema:
  smartctl_interval: str
  smartctl_rescan: str
  log_level: list(debug|info|warn|error)
  smartctl_devices: [str]
  smartctl_device_exclude: str?
  smartctl_device_include: str?
